@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  /* Neutral Greys */
  --neutral-50: #f8f8f8;
  --neutral-100: #f0f0f0;
  --neutral-200: #dcdcdc;
  --neutral-300: #bdbdbd;
  --neutral-400: #989898;
  --neutral-500: #7c7c7c;
  --neutral-600: #656565;
  --neutral-700: #525252;
  --neutral-800: #464646;
  --neutral-900: #3d3d3d;
  --neutral-950: #292929;

  /* Accent Blues */
  --blue-low-opacity: #4a86e732;
  --blue-500: #4a87e7;
  --blue-700: #2a52be;
  --blue-900: #273f81;

  /* Theme Accent */
  --primary-blue: #003049;
  --primary-red: #c1121f;
  --primary-cream: #fdf0d5;

  /* Status Colors */
  --red-main: #ea3f33;
  --success-main: #29bc5b;
  --warning-main: #f5cb69;

  /* Typography */
  --font-heading: "Hanken Grotesk", sans-serif;
  --font-body: "Hanken Grotesk", sans-serif;

  /* Layout */
  --radius-lg: 24px;
  --radius-md: 16px;
  --radius-sm: 8px;
  --shadow-card: 0 10px 40px rgba(0,0,0,0.12);
  --shadow-light: 0 2px 8px rgba(0,0,0,0.08);
}

/* @theme {
  --font-heading: "Hanken Grotesk", sans-serif;
} */

* {
  box-sizing: border-box;
}
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

body {
  font-family: var(--font-body);
  background-color: var(--neutral-50);
  color: var(--neutral-900);
  display: block;
}

/* Typography System */
h1, .heading-1 {
  font-family: var(--font-heading);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

h2, .heading-2 {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.subheading-1 {
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.subheading-2 {
  font-family: var(--font-heading);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.body-1, p {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.body-2 {
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.hero {
  position: relative;
  text-align: center;
  padding: 100px 40px 60px;
  margin-top: 200px;
}

.hero h1 {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
}

/* Buttons */

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 28px;
}

.btn-main {
  padding: 12px 28px;
  background: var(--primary-blue);
  border-radius: var(--radius-md);
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  padding: 12px 28px;
  background: white;
  border: 1px solid var(--neutral-300);
  border-radius: var(--radius-md);
  color: var(--neutral-800);
  cursor: pointer;
}

/* Cards */
.card {
  width: 340px;
  /* border-radius: var(--radius-lg);
  box-shadow: var(--shadow-card); */
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-6px);
  scale: 1.02;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: var(--radius-lg);
  object-fit: cover;
}

.card-content {
  padding: 18px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--neutral-900);
}

.card-sub {
  font-size: 14px;
  margin-top: 6px;
  color: var(--neutral-600);
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.25s ease;
}

/* Badge */
.badge {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: var(--radius-lg);
  background: var(--blue-low-opacity);
  margin-right: 6px;
  color: var(--blue-700);
}

/* Grids for content sections */
.section-grid {
  display: flex;
  gap: 28px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 24px;
}

.section-grid::-webkit-scrollbar {
  display: none;
}